RewriteEngine on
RewriteRule ^Webdesign /Pages/Webdesign.php [L]
RewriteRule ^Detail/([a-zA-Z0-9_-]+) /Pages/Detail.php?id=$1 [L]
RewriteRule ^Source /Pages/SourceCode.php$1 [L]
RewriteRule ^Order/Source/([a-zA-Z0-9_-]+) /Pages/OrderSource.php?id=$1 [L]
RewriteRule ^Login /Pages/Login.php$1 [L]
RewriteRule ^Register /Pages/Register.php$1 [L]
RewriteRule ^Order/CreateWeb/([a-zA-Z0-9_-]+) /Pages/OrderWeb.php?id=$1 [L]
RewriteRule ^Logout /Pages/Logout.php$1 [L]
RewriteRule ^Profile /Pages/Profile.php$1 [L]
RewriteRule ^Design /Pages/Design.php$1 [L]
RewriteRule ^Order/Design/([a-zA-Z0-9_-]+) /Pages/OrderDesign.php?id=$1 [L]
RewriteRule ^Recharge /Pages/Recharge.php$1 [L]
RewriteRule ^Service/Web /Pages/ServiceWeb.php$1 [L]
RewriteRule ^Service/Hosting /Pages/ServiceHosting.php$1 [L]
RewriteRule ^Service/Source /Pages/ServiceSource.php$1 [L]
RewriteRule ^Service/Design /Pages/ServiceDesign.php$1 [L]
RewriteRule ^Banks /Pages/Banks.php$1 [L]
RewriteRule ^Extend/([a-zA-Z0-9_-]+) /Pages/Extend.php?id=$1 [L]
RewriteRule ^Giftcode /Pages/GiftCode.php$1 [L]
RewriteRule ^Hosting /Pages/Hosting.php$1 [L]
RewriteRule ^Order/Hosting/([a-zA-Z0-9_-]+) /Pages/Order-Hosting.php?id=$1 [L]
RewriteRule ^Clientarea/([a-zA-Z0-9_-]+) /Pages/clientarea.php?id=$1 [L]